<script type="text/javascript">
  $j(document).ready(function($) {
    $j("select.systems").multiselect();
    
    $j("select.multiselect").bind('change', function(event) {
      $j('#saveServiceButton span.ui-icon-alert').remove();
      $j('<span class="ui-icon ui-icon-alert" style="float:right;"></span>').appendTo($j('#saveServiceButton span'));
      $j('#saveServiceButton span.ui-icon ').css({'margin-top': '-3px', 'height': '16px'});
      $j(this).unbind(event);
    });
    $j("a.add-all, a.remove-all").click(function(){$j(this).blur();});
  });
</script>


<select class="multiselect systems" multiple="multiple" name="systems[]"  style="width:440px;height:330px;">
    <% for rs in @service.running_services %>
      <option value="<%=  rs.id %>" selected="selected" role="running_service" title="<%=  rs.system.name %>"><%= rs.system.name %> </option>
    <% end %>

    <% for system in @systems %>
      <option value="<%=  system.id %>" role="system"><%= system.name %> </option>
    <% end %>
</select>
<br /> <%# the break has some strange side effects with scroll bars of portlets... so, let it in or fix it...%>
