
<div class="ui-helper-clearfix">
      <b>Name: </b>         <div style="float: right; margin-right: 0px;"><%= h(@service.name)  %></div><br /><br />
      <b>Group: </b>        <div style="float: right; margin-right: 0px;"><%= h(@service.group)  %></div><br /><br />
      <b>Description: </b>  <div style="float: right; margin-right: 0px;"><%= h(@service.description)  %></div><br /><br />
      <b>DNS name: </b>     <div style="float: right; margin-right: 0px;"><%= h(@service.dns_name)  %></div><br /><br />
      <b>Type: </b>         <div style="float: right; margin-right: 0px;"><%= h(@service.type)  %></div><br /><br />
</div>
    
    
 