<p>
  <b>Name:</b>
  <%=h @system_history.name %>
</p>

<p>
  <b>Ip:</b>
  <%=h @system_history.ip %>
</p>

<p>
  <b>Site:</b>
  <%=h @system_history.site %>
</p>

<p>
  <b>Environment:</b>
  <%=h @system_history.environment %>
</p>

<p>
  <b>Operating system:</b>
  <%=h @system_history.operating_system %>
</p>

<p>
  <b>Operating system flavour:</b>
  <%=h @system_history.operating_system_flavour %>
</p>

<p>
  <b>Description:</b>
  <%=h @system_history.description %>
</p>

<p>
  <b>Responsible:</b>
  <%=h @system_history.responsible %>
</p>

<p>
  <b>Running from:</b>
  <%=h @system_history.running_from %>
</p>

<p>
  <b>Running to:</b>
  <%=h @system_history.running_to %>
</p>


<%= link_to 'Edit', edit_system_history_path(@system_history) %> |
<%= link_to 'Back', system_histories_path %>
