
<% content_for :navheader do %>
  <%= link_to 'Workspaces', workspaces_path %>:
  <%= link_to "Widgets", widgets_path %> |
  <%= link_to "New Workspace", new_workspace_path %>
   

<% end %>

<% title "Workspaces" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for workspace in @workspaces %>
    <tr>
      <td><%=h workspace.name %></td>
      <td><%= link_to "Show", workspace %></td>
      <td><%= link_to "Edit", edit_workspace_path(workspace) %></td>
      <td><%= link_to "Destroy", workspace, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>