<div class="form" id="form-widget-<%= @widget.id %>">
  <%#= puts @widget.inspect %>

  <%#*when using sti and polimorphic routing "form_for @widget" will fail, dunno why%>
  <% form_for :widget do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :workspace_id %><br />
      <%= f.text_field :workspace_id %>
    </p>
    <p>
      <%= f.label :top %><br />
      <%= f.text_field :top %>
    </p>
    <p>
      <%= f.label :left %><br />
      <%= f.text_field :left %>
    </p>
      <p>
      <%= f.label :sizex %><br />
      <%= f.text_field :sizex %>
    </p>
    <p>
      <%= f.label :sizey %><br />
      <%= f.text_field :sizey %>
    </p>
    <p><%= f.submit %></p>
  <% end %>
</div>