<% title "Widgets" %>

<table>
  <tr>
    <th>Workspace</th>
    <th>Type</th>
    <th>top</th>
    <th>left</th>
    <th>sizex</th>
    <th>sizey</th>
  </tr>
  <% for widget in @widgets %>
    <tr>
      <td><%=h widget.workspace_id %></td>
      <td><%=h widget.type %></td>
      <td><%=h widget.top %></td>
      <td><%=h widget.left %></td>
      <td><%=h widget.sizex %></td>
      <td><%=h widget.sizey %></td>
      <td><%= link_to "Show", widget_path(widget) %></td>
      <td><%= link_to "Edit", edit_widget_path(widget) %></td>
      <td><%= link_to "Destroy", widget_path(widget), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Widget", new_widget_path %></p>
