<h1>Editing system_variable</h1>

<% form_for(@system_variable) do |f| %>
  <%= f.error_messages %>

  <p>
		<%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
		<%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
		<%= f.label :system_id %><br />
    <%= f.text_field :system_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @system_variable %> |
<%= link_to 'Back', system_variables_path %>