<%#*IN USE by systems show.html.erb%>
<div class="ui-helper-clearfix">
      <b>Name: </b>                       <div style="float: right; margin-right: 0px;"><%= h(@system.name)  %></div><br /><br />
      <b>IP: </b>                         <div style="float: right; margin-right: 0px;"><%= h(@system.ip)  %></div><br /><br />
      <b>FQDN: </b>                       <div style="float: right; margin-right: 0px;"><%= h(@system.fqdn)  %></div><br /><br />
      <b>Operating system: </b>           <div style="float: right; margin-right: 0px;"><%= h(@system.operating_system)  %></div><br /><br />
      <b>Operating system flavour: </b>   <div style="float: right; margin-right: 0px;"><%= h(@system.operating_system_flavour)  %></div><br /><br />
      <b>Environment: </b>                <div style="float: right; margin-right: 0px;"><%= h(@system.environment)  %></div><br /><br />
      <b>Description: </b>                <div style="float: right; margin-right: 0px;"><%= h(@system.description)  %></div><br /><br />
      <b>SSH user: </b>                   <div style="float: right; margin-right: 0px;"><%= h(@system.sshuser)  %></div><br /><br />
      <b>Munin Group: </b>                <div style="float: right; margin-right: 0px;"><%= h(@system.munin_group)  %></div><br /><br />
</div> 