<%#*mg 2011/12/24: NOT USED ANYMORE%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>OpenMetrics: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'welcomepage' %>
  <%= stylesheet_link_tag 'jquery.themes.css' %>
  <%= stylesheet_link_tag 'jquery.jnotify.css' %>

  <%= yield :scripts %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.ui" %>
  <%= javascript_include_tag "jquery.themes" %>
  <%= javascript_include_tag "jquery.jnotify" %>
  <%= javascript_include_tag "welcomepage" %>
</head>
<body>

  <!--  the top navigation menu -->
    <div id="header">
      <div id="navheader"><%= yield(:navigation) %></div>
      <div id="actions"><%= yield(:actions) %></div>
</div>


  <div><%= yield %></div>

</body>
</html>
